@charset "utf-8";
/* CSS Document */


.top3right_div1{ width:920px; height:300px;  margin:20px; border:1px solid #e1e1e1;
			background-color:#C4E1FF }
.top3right_table{ width:880px; height:260px; margin-left:25px; }
	.top3right_table select{ width:260px; height:30px; font-size:20px; padding-left:20px; }
	

.top3right_div2{ width:980px; height:50px; text-align:center; line-height:50px; }
	.top3right_div2 input{ background-color:#33a3dc; color:#FFF; font-size:18px; 
			cursor:hand; height:32px; width:300px; border-top-left-radius:5em;
			border-top-right-radius:5em; border-bottom-left-radius:5em;
			border-bottom-right-radius:5em; }

.top3right_div3{ border:1px solid #d1d1d1; width:920px; margin-left:20px; }
	.top3right_div3 table tr{ font-size:14px; }
	.top3right_div3_1{ padding-left:0px; padding-top:12px;  }
	.top3right_div3_1 div{ padding-left:30px; }
	.top3right_div3_1 div span{ font-size:16px; font-weight:bolder; }
	.top3right_div3_1 hr{ width:850px; height:3px;border:none; border-top:3px dotted #BBBBBB; }
	
	.top3right_div3_2{ width:920px; text-align:center;  }
	
	
	